* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;

  >div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
  }

  button {
    padding: .75rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
}

#btn1 {
  background-color: black;
  color: white;
  transition: all .3s linear;
  transform: translateX(0) translateY(0);

  &:hover {
    box-shadow: 5px 5px gray;
    background-color: white;
    border: 1px solid black;
    color: black;
    transform: translateX(-4px) translateY(-2px);
  }
}

#btn2 {
  position: relative;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  // transform: translateX(0) translateY(0);
  transition: all .3s linear;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: -1;
    transition: all .3s linear;
  }

  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    top: -5px;
    left: -5px;

    &::before {
      top: 5px;
      left: 5px;
    }
  }
}

#btn3 {
  border: 1px solid black;
  background-color: green;
  color: white;
  position: relative;
  transition: all .3s linear;

  &::before {
    content: "";
    width: 10px;
    height: 100%;
    background-color: rgb(204, 248, 204);
    transform: skew(-18deg);
    position: absolute;
    top: 0;
    left: -20px;
    opacity: 30%;
    transition: all .3s linear;
  }

  &:hover {
    background-color: rgb(3, 201, 3);

    &::before {
      left: 200px;
    }
  }
}

#shape1 {
  background-color: #ccc;
  width: 200px;
  height: 200px;
  transition: all .5s ease-in-out;

  &::before {
    content: "Hello!";
    position: absolute;
    top: 180px;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 1;
    opacity: 0;
    transition: all .5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

  }

  &:hover {
    background-color: yellow;

    &::before {
      opacity: 1;
    }
  }
}

#shape2 {
  width: 100px;
  height: 100px;
  z-index: 10;
  background-color: red;
  animation: move 5s linear infinite;
  position: absolute;


}

#figure1 {
  position: relative;

  img {
    position: relative;
    z-index: 1;
    transition: all .3s linear;
  }

  figcaption {
    position: absolute;
    bottom: 4px;
    left: 0;
    background-color: pink;
    width: 100%;
    z-index: 0;
    transition: all .3s linear;
  }

  img:hover {
    filter: grayscale(1);
  }

  img:hover+figcaption {
    bottom: -14px;
  }
}


@keyframes move {

  0%,
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    top: 0;
    left: 0;
  }

  25% {
    border-radius: 50%;
    background-color: green;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    top: 0;
    left: calc(100% - 100px);
  }

  50% {
    clip-path: polygon(50% 0, 100% 100%, 0 100%, 0 100%, 0 100%);
    background-color: rgb(141, 185, 6);
    top: calc(100% - 100px);
    left: calc(100% - 100px);
  }

  75% {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: yellow;
    top: calc(100% - 100px);
    left: 0;
  }
}


.green-box {
  width: 500px;
  height: 500px;
  background-color: green;
  padding: auto;

}